<!-- PAG #telaInicial -->
<section class="container">
  <header>Pesquisa musical</header>
  <div class="busca">
    
    <input
      type="text"
      placeholder="Digite aqui"
      [(ngModel)]="inputTexto"
      (keyup.enter)="pesquisar()"
      required
      class="input-busca"
    />
    <button class="lupa" (click)="pesquisar()">
      <img src="assets/icone-busca.png" alt="Lupa de cor roxa" />
    </button>
  </div>

  <p>Busque por artistas ou albuns...</p>
  <div class="busca-container">
    <select [(ngModel)]="selectTipo" [formControl]="selectOpcoes" required>
      <option textField="text">Escolha o tipo</option>
      <option value="artista">Artista</option>
      <option value="album">Album</option>
    </select>

    <div>
      <button class="pesquisar" (click)="pesquisar()">Pesquisar</button>
    </div>
  </div>

<div class="container-card">
  <div *ngIf="listaAlbuns; else listaArtistas" class="row">
    <div class="col-md-4" *ngFor="let item of itens">
      <div class="resultado">
        <div class="card">
          <div class="info-card">
            <h3>Album:</h3>
            <div>{{ item.name }}</div>
            <h3>Artista:</h3>
            <div>{{ item.artist }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #listaArtistas>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of itens">
        <div class="resultado">
          <div class="card">
            <div class="info-card">
              <h3>Artista</h3>
              <div>{{ item.name }}</div>
              <img [src]="item.image[0]['#text']" alt="Imagem do Artista">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

</section>
