section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

header {
  color: #6C63FF;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 76px;
  margin-bottom: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Poppins', sans-serif;
}

section input {
  width: 588px;
  height: 56px;
  border: 2px solid #6C63FF;
  border-radius: 10px;
  outline: 0;
  box-sizing: border-box;
  top: 220px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 4.08%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px;
}

section p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8B8B8B;
}

.resultados {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8B8B8B;
}

.mensagem-erro {
  color: #6C63FF;
}

input[type='search']:focus {
  background-image: none;
  outline: none;
  text-decoration: none;
  padding-left: 10px;
}

input[type="search"]::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { display: none; }

section .lupa {
  border: none;
  text-decoration: none;
  background: none;
  position: relative;
  /* top: 0.3rem; */
  right: 50px;
}

.busca {
  display: flex;
}

.container-card {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}


.card-title {
  font-family: 'Poppins';
  word-wrap: break-word;
  margin: 0;
}

.imagens {
  display: flex;
}

/* .ilustracao {
  margin-top: 72px;
  margin-left: 130px;
  margin-right: 64px;
} */

/* .titulo {
  margin-top: 72px;
  margin-left: 64px;
} */







.card-livro {
  display: flex;
  width: 384px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  margin: 24px;
  border-radius: 8px 0px 0px 8px;
}

/* img {
  min-width: 198px;
} */

.card {
  display: flex;
  width: 384px;
  height: 310px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  margin: 24px;
  border-radius: 8px 0px 0px 8px;
}
/*
.info-card {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 6px;
  background-image: linear-gradient(180deg, #050c42, #6C63FF);
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  justify-content: space-evenly;
  align-items: baseline;
} */

.info-card {
  padding: 14px 6px;
  background-image: linear-gradient(180deg, #050c42, #6C63FF);
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 50%;
  height: 500px; /* Defina a altura desejada para os cards */
}

.card {
  display: flex;
  width: 384px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
  margin: 24px 12px; /* Adicione margens horizontais e verticais */
  border-radius: 8px 0px 0px 8px;
  height: 500px;
}




.info-card img {
  /* Define a largura da imagem */
  width: 100%;

  /* Define a altura da imagem (proporcional ao card) */
  height: 80%;

  /* Define o alinhamento vertical da imagem */
  object-fit: cover;
}


.informacoes {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8B8B8B;
}

.resultado {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8B8B8B;
}


.busca-container {
  display: flex;
  align-items: center;
}

select {
  margin-right: 10px;
}

/* .pesquisar {
  background-color: #6C63FF;
} */



/* CSS */
.pesquisar {
  appearance: button;
  background-color: #050C42;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #6C63FF;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.pesquisar:focus:not(:focus-visible),
.pesquisar:focus {
  outline: 0;
}

.pesquisar:hover {
  background-color: #050C42;
  border-color: #3733E5;
}

.pesquisar:focus {
  background-color: #050C42;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.pesquisar:active {
  background-color: #6C63FF;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.pesquisar:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.pesquisar-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}




select {
  appearance: none; /* Remover estilo padrão do sistema operacional */
  background-color: #050C42;
  border-radius: 1rem;
  border: 1px solid #6C63FF;
  padding: .5rem 1rem;
  /* height: 48px; */
  /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
  font-family: Arial, Helvetica, sans-serif;
  /* Fonte do Select */
  font-size: 18px;
  /* Tamanho da Fonte */
  /* padding: 13px 20px 13px 12px; */
  /* Configurações de padding para posicionar o texto no campo */
  color: #fff;
  /* Cor da Fonte */
  text-indent: 0.01px;
  /* Remove seta padrão do FireFox */
  text-overflow: "";

}

select::-ms-expand {
  display: none; /* Remover seta de expansão no Internet Explorer */
}


select option {
  appearance: none; /* Remover estilo padrão do sistema operacional */
  /* Estilos para as opções do select */
  background-color: #050C42;
  color: #fff;
  border-radius: 1rem;
  border: 1px solid #6C63FF;
  padding: .5rem 1rem;
}

