<!-- PAG #telaInicial -->
<section class="container">
  <header>Pesquisa musical</header>
  <div class="busca">

    <input
      type="text"
      placeholder="Busque por artistas ou albuns..."
      [(ngModel)]="inputTexto"
      (keyup.enter)="pesquisar()"
      required
      class="input-busca"
    />
    <button class="lupa" (click)="pesquisar()">
      <img src="assets/icone-busca.png" alt="Lupa de cor roxa" />
    </button>
  </div>
<!--
  <p>Busque por artistas ou albuns...</p> -->
  <div class="busca-container">
    <select [(ngModel)]="selectTipo" [formControl]="selectOpcoes" required>
      <option [defaultSelected]="defaultItem" textField="text">
        Escolha o tipo
      </option>
      <option value="artista">Artista</option>
      <option value="album">Album</option>
    </select>


    <div>
      <button class="pesquisar" (click)="pesquisar()">Pesquisar</button>
    </div>
  </div>

<div class="container-card">
  <div *ngIf="listaAlbuns; else listaArtistas" class="row">
    <div class="col-md-4 card-margin-album" *ngFor="let item of itens">
      <div class="resultado">
        <div class="card">
          <div class="info-card">
            <h4>Artista - {{ item.artist }}</h4>
            <h4>Album - {{ item.name }}</h4>
            <img [src]="item.image[3]['#text']" alt="{{ item.name }}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #listaArtistas>
    <div class="row">
      <div class="col-md-4 card-margin" *ngFor="let item of itens">
        <div class="resultado">
          <div class="card">
            <div class="info-card">
              <h4>Artista - {{ item.name }}</h4>
              <img [src]="item.image[3]['#text']" alt="{{ item.name }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

</section>
